* {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-bottom: 30px;
}
.conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
  margin: 0 auto;
}

.left {
  margin: 0px;
  padding-right: 20px;
  min-width: 340px;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.right {
  width: 48%;
  display: flex;
  justify-content: center;
}

.right img {
  width: 60%;
  min-width: 340px;
}

.bottom {
  width: 90%;
}

/* Header */

h1 {
  width: clamp(300px, 80vw, 80vw);
  margin: 30px auto;
  font-size: 30px;
  text-align: center;
}

/* Progress bar */

.progres-bar {
  height: 20px;
  width: 100%;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  text-align: center;
  padding: 0px;
  display: block;
  text-align: center;
}

.progres-bar2 {
  height: 20px;
  width: 0%;
  background-color: rgb(19, 189, 175);
  border-radius: 8px;
  text-align: center;
  padding: 0px;
}

.progres-bar3 {
  height: 20px;
  width: 0%;
  background-color: rgb(9, 97, 220);
  border-radius: 8px;
  text-align: center;
  padding: 0px;
}

#progres-text {
  font-size: 14px;
  color: rgb(238, 238, 238);
}

#progres-text2 {
  font-size: 14px;
  color: rgb(238, 238, 238);
}

.one-time-dosee,
.daily-dose {
  text-align: center;
}

/* Input bar */

.age-range,
.month-range,
.weight-range {
  width: 80%;
  -webkit-appearance: none;
  height: 12px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.4s;

  margin: 15px 0px;
  border-radius: 5px;
}

.age-range,
.month-range,
.weight-range {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.weight-range::-webkit-slider-thumb,
.month-range::-webkit-slider-thumb,
.age-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(19, 189, 175);
  cursor: pointer;
  border-radius: 50%;
}

.age-range::-webkit-slider-thumb:hover,
.month-range::-webkit-slider-thumb:hover,
.weight-range::-webkit-slider-thumb:hover {
  opacity: 0.6;
}

.button {
  width: 100px;
  background: rgb(19, 189, 175);
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}

#monthly {
  display: none;
}

#Error {
  color: rgb(197, 11, 2);
}

p {
  font-size: 20px;
}
